.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0f2940;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  /* margin-top: 0; */
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 12px;
}
.header__searchIcon {
  padding: 5px;
  color: white;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}
.optionLineOne {
  font-size: 12px;
}
.optionLineTwo {
  font-size: 15px;
  font-weight: 600;
}
.header__opionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount {
  margin-right: 10px;
  margin-left: 10px;
}
